{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="container-fluid content fadeIn animated">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="hidden">{{@blog.title}}</h1>

			<div class="title-container">
				<h1 class="fadeInDown animated title"></h1>
			</div><!-- /.title -->

			<hr>

			<div class="col-lg-6 padding-right left-column">
				<p>We specialize in clean UI, responsive design and dedicated customer support.<br> Whether you're updating an old web <br> presence or need a creating
				something entirely new.</p>
			</div><!-- /.col -->

			<div class="col-lg-6 padding-left right-column">
				<p>If you need a fresh take on an old website, or a new site for a new venture<br>--We love this web stuff.<p>
				</div><!-- /.col -->

			<div class="col-lg-12 full-column">
				<p><br>How can we show you how awesome the web can be? <span class="button underline">leroy@developmeny.com</span></p>
			</div><!-- /.col -->
		</div>
	</div>
</div>	

<script>
	$(function(){
		$(".title").typed({
			strings: ["{{@blog.description}}"],
			typeSpeed: 60,
			showCursor: true,
			startDelay: 600
		});
	});
</script>
